.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
