.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.active {
  
}

@keyframes slideLeft {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }