.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.active {
  
}

@keyframes slideLeftToRight {
    from {
     
      width: 0%;
    }
  
    to {
      width: 100%;
    }
  }