@import '../../styles/global/variables';
.navBarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;

  &Brand {
    transform: unset;
    max-width: 40%;
    margin-left: 2rem;
  }
  &Toggler {
    display: flex;
    flex-direction: column;
    justify-content: s;
    align-items: center;
    margin-right: 2rem;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background-color: $white;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      
    }
  }

  &Active {
  }
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  transform: translateY(-100vh);

  &List {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0;

    &Item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &Link {
      font-size: 3rem;
      font-weight: 500;
      text-align: center;
      padding: 0;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      .original {
        text-align: center;
        vertical-align: baseline;
        letter-spacing: 0.1rem;
        span {
          display: inline-block;
          will-change: transform;
          transform-style: preserve-3d;
          transition: 0.5s ease;
          transform-origin: bottom;

          &:nth-child(1) {
            transition-delay: calc(0.05s * 1);
            z-index: 1;
          }
          &:nth-child(3) {
            transition-delay: calc(0.05s * 3);
            z-index: 3;
          }
          &:nth-child(4) {
            transition-delay: calc(0.05s * 4);
            z-index: 4;
          }
          &:nth-child(5) {
            transition-delay: calc(0.05s * 5);
            z-index: 5;
          }
          &:nth-child(6) {
            transition-delay: calc(0.05s * 6);
            z-index: 6;
          }
          &:nth-child(7) {
            transition-delay: calc(0.05s * 7);
            z-index: 7;
          }
          &:nth-child(8) {
            transition-delay: calc(0.05s * 8);
            z-index: 8;
          }
        }
      }
      .hoverClone {
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        letter-spacing: 0.05em;
        font-family: $headings-font-family;
        font-style: italic;

        span {
          display: inline-block;
          will-change: transform;
          transform-style: preserve-3d;
          transition: 0.5s ease;
          transform-origin: top;
          vertical-align: baseline;
          transform: translateY(100%) rotateX(-90deg);

          &:nth-child(1) {
            transition-delay: calc(0.05s * 1);
            z-index: 1;
          }
          &:nth-child(3) {
            transition-delay: calc(0.05s * 3);
            z-index: 3;
          }
          &:nth-child(4) {
            transition-delay: calc(0.05s * 4);
            z-index: 4;
          }
          &:nth-child(5) {
            transition-delay: calc(0.05s * 5);
            z-index: 5;
          }
          &:nth-child(6) {
            transition-delay: calc(0.05s * 6);
            z-index: 6;
          }
          &:nth-child(7) {
            transition-delay: calc(0.05s * 7);
            z-index: 7;
          }
          &:nth-child(8) {
            transition-delay: calc(0.05s * 8);
            z-index: 8;
          }
        }
      }
      &:hover,
      &:focus,
      &:active {
        .original {
          span {
            transform: translateY(-100%) rotateX(-90deg);
          }
        }
        .hoverClone {
          transform: translate(0) rotateX(0);
          span {
            transform: translate(0) rotateX(0);
          }
        }
      }
    }
  }
  &Mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    transform: none;
  }
}

@media screen and (min-width: 960px) {
  .navBarHeader {
    flex-direction: row;
  }
  .navBar {
    height: 4rem;
    transform: unset;
    justify-content: space-between;

    &List {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 80%;
      &Item {
        margin: 0 4rem;
        span {
          font-size: 1.25rem;
        }
      }
    }
  }
  .btn-toggler {
    visibility: hidden;
    opacity: 0;
  }
}
