@import './styles/global/variables';

body {
  display: flex;
  flex-direction: column;
  ju
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .App {
    height: -webkit-fill-available;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    .navbar-brand {
      transform: unset;
      min-width: 20%;
      padding-left: 2rem;
    }
  }
  a {
    color: $white;
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  @media screen and (min-width: 960px) {
    .navbar-brand {
      font-size: 1.25rem;
    }
  }
}
